:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #0264d1 0%, #b2ddf2 100%);
  color: #111;
}

html,
body,
main,
a,
button,
input,
textarea,
*,
*::before,
*::after {
  cursor: none !important;
}

#root {
  height: 100%;
}
